body {
    background-color: rgb(146, 159, 196);
    font-size: 30px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 80px;
}

.botao {
    border-radius: 10px;
    background-color: rgb(3, 3, 20);
    color: aliceblue;
    margin-top: 100px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
}

.botao1 {
    border-radius: 10px;
    background-color: rgb(3, 3, 20);
    color: aliceblue;
    cursor: pointer;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    text-decoration: black;
}



.botao:active{
    transform: scale(0.8);
}

.footer {
    font-size: 20px;
    margin-top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



@media (max-width: 450px){
    
}